:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --color-primary: #5499e7;
  --color-on-primary: #ffffff;
  --color-secondary: #ff0080;
  --color-success: #1bb35f;
  --color-error: #ff3860;
  --color-on-secondary: #ffffff;
  --color-surface: #ffffff;
  --color-surface-variant: #f7f7f7;
  --color-surface-variant-dark: #e0e0e0;
  --color-border: #e6e6e6;
  --avg-font: 15px;
  --medium-font: 13px;
  --small-font: 12px;
  --border-radius: 4px;
  --color-on-surface: #222222;
  --color-on-surface-light: #5c5c5c;
}

* {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}
body {
  margin: 0;
}

a,
p,
li,
button,
div,
span,
input,
select,
option,
textarea {
  font-size: var(--medium-font);
  color: var(--color-on-surface);
}

svg {
  fill: inherit;
}

.animation {
  transition: all 0.3s;
}

button.btn {
  border: none;
  outline: none;
  padding: 0.3em 0.5em;
  background-color: var(--color-surface-variant-dark);
  border-radius: var(--border-radius);
  fill: black;
  transition: all 0.3s;
}

button.btn:hover {
  opacity: 0.7;
}

button.btn.icon-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn.outline {
  border: 1px solid var(--color-border);
  background-color: transparent;
}

button.btn.primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  fill: var(--color-on-primary);
}

button.btn.secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  fill: var(--color-on-secondary);
}

/* ------------------- */
.box {
  padding: 6px;
  border: 1px solid #ccc;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 6px;
}

/* split.js */
.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  /* min-height: 100px; */
}
.split-h {
  width: 100%;
  height: 100%;

  /* min-height: 100px; */
}

.split .gutter {
  /* background-color: rgb(49, 163, 255, 0.5); */
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 9999;
  position: relative;
  padding: 1px;
  border-right: 1px solid rgb(49, 163, 255);
}

.split-h .gutter {
  /* background-color: rgb(49, 163, 255, 0.5); */
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 9999;
  position: relative;
  padding: 1px;
  border-top: 1px solid rgb(49, 163, 255);
}

.gutter.gutter-horizontal {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
  cursor: col-resize;
}
.gutter.gutter-vertical {
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII="); */
  cursor: row-resize;
}

input.in {
  padding: 0.5em 1em;
  border: #ccc 1px solid;
  display: block;
  width: 100%;
  outline: none;
}

input.in:focus {
  outline: 1px solid var(--color-primary);
}

span.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
span.icon:hover {
  background-color: #ddd;
  border-radius: 5px;
}
