@import "./style.css";

.req-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.req-panel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.req-tab {
  flex: 1;
  overflow: auto;
  margin: 1rem;
  margin-top: 0;
}

.req-panel .input-box {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 0.5rem;
  align-items: center;
  /* margin-bottom: 0.5rem; */
  margin: 1rem;
  margin-top: 0;
}

.req-panel .input-box .input-area {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: var(--border-radius);
}

.req-panel .input-box .input-area span {
  display: block;
  height: 24px;
  width: 1px;
  background-color: var(--color-border);
}

.req-panel .input-box .input-area input,
.req-panel .input-box .input-area select {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  padding: 0 1em;
}

.req-panel .input-box .input-area input {
  width: 100%;
}

.req-panel .input-box button {
  height: 40px;
  padding: 0 1.5em !important;
  font-weight: 600;
  font-size: var(--avg-font);
}

.req-panel .body-tab-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.req-panel .body-tab-item > .header {
  display: flex;
  height: 2.5em;
  align-items: center;
}
.req-panel .body-tab-item textarea {
  flex: 1;
  resize: none;
  border: solid #ccc 1px;
  outline: none;
}

/* response panel */
.res-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.res-panel .header > div {
  position: absolute;
  right: 6px;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 6px;
}

.res-panel .content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}

/* env viewer */
.env-view {
  padding: 8px;
}
